.comment-list{
    font-size: 1.6rem;
    textarea{
        width: 50%;
        height: 100px;
        resize: none;
    }
    .discuss{
        text-align: center;
        margin: 30px;
    }
    .comment-dis{
        display: flex;
        .dis-img{
            width: 40px;
            height: auto;
            margin-right: 10px;
            margin-top: 20px;
            img{
                width: 100%;
            }
        }
        .form-container{
            flex: 1;
            .comment-form{
                height: 150px;
                textarea{
                    height: 100%;
                    padding: 10px;
                }
                button{
                    float: right;
                    font-size: 1.6rem;
                    background-color: rgb(68, 68, 231);
                }
            }
        }
    }

}